<?xml version="1.0" encoding="utf-8"?><!--
  Copyright 2019 Mountedwings Cybersystems LTD. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mountedwings.org.mskola_mgt">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.Manifest.permission.TETHER_PRIVILEGED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mskola"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacher.AttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SchoolID_Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MskolaLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Login_SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".parent.Login_SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sign_Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".student.Login_SignUp"
            android:screenOrientation="portrait" />
        <activity android:name=".parent.Dashboard" />
        <activity android:name=".student.Dashboard" />
        <activity android:name=".Chat" />
        <activity android:name=".SettingFlat" />
        <activity android:name=".teacher.Assessment" />
        <activity
            android:name=".teacher.Assessment_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Attendance_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Assignment_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.GiveAssignment" />
        <activity android:name=".teacher.CollateAssignments" />
        <activity
            android:name=".teacher.Give_assignment_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.AssignmentHistoryActivity" />
        <activity android:name=".teacher.Assignment_history_detail" />
        <activity
            android:name=".teacher.Psychomotor_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Compile_Result_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Results_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.Psychomotor" />
        <activity
            android:name=".teacher.ViewResult_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.ViewResultActivity" />
        <activity
            android:name=".teacher.Promote_Students_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.PromoteStudentsActivity" />
        <activity android:name=".teacher.PromotionStudents" />
        <activity android:name=".teacher.AchievementsActivity" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".Chat_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.Dashboard"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.Chat_List_Teachers" />
        <activity android:name=".teacher.Chat_List_Students" />
        <activity android:name=".teacher.Chat_List_Parents" />
        <activity
            android:name=".teacher.Assessment_first_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teacher.View_Scores_menu"
            android:screenOrientation="portrait" />
        <activity android:name=".teacher.ViewScores" />
        <activity android:name=".teacher.MySubjects" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="portrait" />
        <activity android:name=".Test" />
        <activity android:name=".parent.MskolaLogin" />
        <activity android:name=".parent.ChildsList" />
        <activity android:name=".parent.SingleChild_menu" />
        <activity android:name=".parent.Assessment_menu" />
        <activity android:name=".parent.AssessmentView" />
        <activity android:name=".parent.ResultActivity" />
        <activity android:name=".parent.Attendance_menu_activity" />
        <activity android:name=".parent.SchoolInformation" />
        <activity android:name=".parent.SchoolInformation_menu" />
        <activity android:name=".parent.Timetable_menu_activity" />
        <activity android:name=".parent.StudentInformation" />
        <activity android:name=".parent.Result_menu" />
        <activity android:name=".student.MskolaLogin" />
        <activity android:name=".student.Assignment_history_detail" />
        <activity android:name=".student.AssignmentHistoryActivity" />
        <activity android:name=".student.Attendance_menu_activity" />
        <activity android:name=".student.Timetable_menu_activity" />
        <activity android:name=".student.Result_menu" />
        <activity android:name=".student.StudentInformation" />
        <activity android:name=".student.AssessmentView" />
        <activity android:name=".Settings" />
        <activity android:name=".About" />
        <activity android:name=".Licenses" />
        <activity android:name=".DialogAddReview" />
        <activity android:name=".student.Assessment_menu" />
        <activity android:name=".student.List_of_schools" />
        <activity android:name=".student.MyClass" />
        <activity android:name=".student.SchoolInformation_menu" />
        <activity android:name=".student.ResultActivity" />
        <activity android:name=".student.SchoolInformation" />
        <activity android:name=".student.ClassTeachers" />
        <activity android:name=".student.SubjectTeachers" />
        <activity android:name=".student.FAQ" />
        <activity android:name=".parent.FAQ" />
        <activity android:name=".teacher.FAQ" />
        <activity android:name=".teacher.RecordScores" />
    </application>

</manifest>